.dropdown-container {
    display: inline-block;
    min-width: 250px;
    border: 1px solid black;
}

.selected-options {
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
}